@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica/Helvetica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica/Helvetica-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica/Helvetica-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Compressed';
  src: url('/fonts/Helvetica/Helvetica-Compressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded';
  src: url('/fonts/Helvetica/Helvetica-RoundedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}